name: CI

on:
  push:
    branches: [ "main" ]
    tags:
      - v*
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Run vsl_ial Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip'
      - run: pip install -e '.[extra]'
      - name: unittest
        run: python -m unittest
      - uses: psf/black@25.1.0
